<h1>Add Blueprint Relationship</h1>


<form [formGroup]="editForm">
  <div class="row">
    <div class="col-sm-4">
      <ul>
        <li *ngFor="let classObj of sourceClasses">
          {{classObj.className}}
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="relationshipDescription" placeholder="Relationship" />
      </mat-form-field>
      <p>          
          <mat-checkbox formControlName="isUnique" value="true" class="checkbox-margin">
              Allow only one relationship between ConfigItems
          </mat-checkbox>
      </p>
      
    </div>
    <div class="col-sm-4">
      <div class="fieldContainer">
        <mat-form-field>
          <mat-select formControlName="targetClassEntityId" placeholder="Class">
            <mat-option [value]="">Any</mat-option>
            <mat-option *ngFor="let class of classes" [value]="class.id">
              {{class.className}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <app-list-errors [errors]="errors"></app-list-errors>

  <div class="buttonPanel">
    <button mat-button (click)="doSave()">Add Relationship</button>
    &nbsp;
    <button mat-button (click)="doCloseDialog()">Cancel</button>
  </div>
</form>