<button mat-button (click)="doNew()"><mat-icon>note_add</mat-icon> New</button> &nbsp; 
<button mat-button (click)="doExportViewData()" *ngIf="this.dataSource.filteredData.length>0"><mat-icon>save_alt</mat-icon> Export</button> &nbsp; 

<form [formGroup]="searchForm">

<mat-form-field>
  <mat-select formControlName="classEntityId" placeholder="Class" (selectionChange)="doSearch()">
      <mat-option value="">Any</mat-option>
    <mat-option *ngFor="let class of classes" [value]="class.id">
      {{class.className}}
    </mat-option>
  </mat-select>
</mat-form-field>

&nbsp;

<mat-form-field>      
  <mat-select formControlName="ownerId" placeholder="Owner" (selectionChange)="doSearch()">
    <mat-option value="">Any</mat-option>
    <mat-option *ngFor="let owner of owners" [value]="owner.id">
      {{owner.ownerName}} ({{owner.ownerCode}})
    </mat-option>
  </mat-select>
</mat-form-field>


&nbsp;

<mat-form-field>
    <input matInput formControlName="nameLike" placeholder="Name (like)" />    
</mat-form-field>

&nbsp;

<button mat-button (click)="doSearch()"><mat-icon>search</mat-icon> Search</button> &nbsp; 

<mat-form-field>
    <input matInput formControlName="filterText" (keyup)="applyFilter()" placeholder="Filter" />
</mat-form-field>

&nbsp;

<mat-form-field>      
  <mat-select formControlName="filterOrphan" placeholder="Orphan filter" (selectionChange)="applyFilter()">
    <mat-option value="">All</mat-option>
    <mat-option value="O">Orphaned</mat-option>
    <mat-option value="N">Not Orphaned</mat-option>
  </mat-select>
</mat-form-field>


</form>




<mat-table [dataSource]="dataSource" matSort *ngIf="dataSource != null">
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="checkboxCell">
          
          <mat-checkbox (change)="masterToggle($event)"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
          
          
          <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="isSelected()">
              <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #appMenu="matMenu">
              <button mat-menu-item (click)="doAddBulkRelationship()"><mat-icon>timeline</mat-icon> Add Relationship</button>
              <button mat-menu-item (click)="doEditBulk()"><mat-icon>ballot</mat-icon> Bulk Edit</button>
              <button mat-menu-item (click)="doDeleteSelected()"><mat-icon>delete_forever</mat-icon> Delete</button>
          </mat-menu>

          <!--
          <button mat-button (click)="doDeleteSelected()" *ngIf="isSelected()" matTooltip="Delete"><mat-icon>delete_forever</mat-icon></button> 
          <button mat-button (click)="doAddBulkRelationship()" *ngIf="isSelected()"><mat-icon>timeline</mat-icon></button> 
          <button mat-button (click)="doEditBulk()" *ngIf="isSelected()"><mat-icon>ballot</mat-icon></button> 
          -->
          

        </mat-header-cell>
        <mat-cell *matCellDef="let row" (click)="$event.stopPropagation()" class="checkboxCell">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>CI Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="className">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Class</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.className}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ownerName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Owner</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ownerName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="comments">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Comments</mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> {{element.comments}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdOn">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> {{element.createdOn | date : 'yyyy-MM-dd HH:mm'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="modifiedOn">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Modified</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> {{element.modifiedOn | date : 'yyyy-MM-dd HH:mm'}} </mat-cell>
    </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></mat-row>

</mat-table>
<mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 200]"  [length]="totalRecordCount" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>

