

<div class="row" style="margin-top: 20px;">
        <div class="col-sm-6">            
        </div>
        <div class="col-sm-6">
                <form [formGroup]="searchForm">
                    <mat-form-field>
                        <mat-select formControlName="classEntityId" placeholder="Class" (selectionChange)="doSearch()">
                            <mat-option value="">All</mat-option>
                            <mat-option *ngFor="let class of classes" [value]="class.id">
                            {{class.className}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
        </div>
    </div>

<div class="row" style="height: 400px; margin-top: 20px;">
        <div class="col-sm-6">
                <ngx-charts-bar-vertical        
                [results]="configItemStatsPie"
                [gradient]="false"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="false"
                [showXAxisLabel]="false"
                [showYAxisLabel]="false"
                [xAxisLabel]="'Class'"
                [yAxisLabel]="'Count'"
                (select)="onSelectConfigItem($event)">
              </ngx-charts-bar-vertical>
            

<!--
<ul *ngIf="configItemStats">
    <li *ngFor="let stat of configItemStats">
        <b><a [routerLink]="['/configitem']" [queryParams]="{classEntityId: stat.classEntityId}">{{stat.className}}</a></b> &nbsp; &nbsp; {{stat.count}}
    </li>
</ul>
-->

    
</div>


<div class="col-sm-6">
    
    <ngx-charts-pie-chart           
      [results]="ownerStatsPie"
      [legend]="false"
      [explodeSlices]="false"
      [labels]="true"
      [maxLabelLength]="25"
      [gradient]="false"
      [doughnut]="false"      
      (select)="onSelectOwnerChart($event)">
    </ngx-charts-pie-chart>
<!--
   
<ul *ngIf="ownerSummaryStats">
        <li *ngFor="let stat of ownerSummaryStats">
            <b><a [routerLink]="['/owner/edit/'+stat.id]">{{stat.ownerName}}</a></b> &nbsp; &nbsp; <a [routerLink]="['/configitem']" [queryParams]="{ownerId: stat.id}">{{stat.configItemCount}}</a>
        </li>
    </ul>
-->
    
  
    </div>

</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-sm-6">
        <div class="chartFooter">{{usedClassCount}} classes in use</div>
        <div class="chartFooter">{{configItemCount}} config items</div>
    </div>
    <div class="col-sm-6">
        <div class="chartFooter">{{activeOwnerCount}} owners across {{ciFilterName}} config items</div>
    </div>
</div>

