<button mat-button (click)="doNew()"><mat-icon>note_add</mat-icon> New</button> 

<div>
    <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" matSort *ngIf="dataSource != null">
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
          <button mat-button (click)="doDeleteSelected()" *ngIf="isSelected()"><mat-icon>delete_forever</mat-icon></button> 
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="classname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.className}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="colorCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element"><app-color-square-widget [backgroundColor]="element.colorCode"></app-color-square-widget></mat-cell>
        </ng-container>
    
    <ng-container matColumnDef="isInstantiable">
        <mat-header-cell *matHeaderCellDef mat-sort-header>isInstantiable</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isInstantiable}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="isPromiscuous">
        <mat-header-cell *matHeaderCellDef mat-sort-header>isPromiscuous</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isPromiscuous}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="allowanydata">
            <mat-header-cell *matHeaderCellDef mat-sort-header>allowAnyData</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.allowAnyData}} </mat-cell>
        </ng-container>
    <ng-container matColumnDef="comments">
          <mat-header-cell *matHeaderCellDef>Comments</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.comments}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
      </ng-container>
      
    <ng-container matColumnDef="createdOn">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdOn | date : 'yyyy-MM-dd HH:mm'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="modifiedOn">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Modified</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.modifiedOn | date : 'yyyy-MM-dd HH:mm'}} </mat-cell>
    </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></mat-row>

</mat-table>
