
<div class="rack_outside">
    
    <p class="rack_heading_text">{{rackName}}</p>

<div class="rack_holder">
    <div *ngFor="let ru of ruList" class="rack_row">
        <div class="rack_left">{{ru}}</div>

        <div class="rack_middle"></div>

        <div class="rack_right">{{ru}}</div>
    </div>
    <div *ngFor="let rackItem of rackItems" class="rack_item" [title]="rackItem.toolTip" [ngStyle]="getItemStyle(rackItem)" (click)="doOpenLink(rackItem)">
        {{rackItem.label}}
    </div>
</div>

<p class="rack_summary_text"><strong>{{freeSlots}}</strong> free slots <br/>
    <strong>{{totalKW}}</strong> kW<br/>
    <strong>{{totalBTUhr}}</strong> BTU/hr
</p>
</div>
