<h1 *ngIf="owner.createdOn">{{ owner.ownerName }} </h1>
<h1 *ngIf="!owner.createdOn">New Owner</h1>


<mat-tab-group>
    <mat-tab label="Details">
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
<input type="hidden" formControlName="id" />

<div class="fieldContainer"> 
    <mat-form-field>
        <input matInput formControlName="ownerName" placeholder="Owner Name" value="" />
    </mat-form-field>
    
    <mat-form-field>
        <input matInput formControlName="ownerCode" placeholder="Owner Code" value="" />
    </mat-form-field>

    <mat-form-field>
            <textarea matInput formControlName="alternateName1" placeholder="Alternate Name"></textarea>
    </mat-form-field>

    
    <mat-form-field>
        <mat-select formControlName="category" placeholder="Category">            
            <mat-option [value]=""></mat-option>
            <mat-option *ngFor="let cat of ownerCategories" [value]="cat">
                {{cat}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="status" placeholder="Status">                        
            <mat-option *ngFor="let status of ownerStatuses" [value]="status">
                {{status}}
            </mat-option>
        </mat-select>
    </mat-form-field>
        
    <mat-form-field>
        <textarea matInput formControlName="comments" placeholder="Comments"></textarea>
    </mat-form-field>
 </div>

<app-list-errors [errors]="errors"></app-list-errors>
<div class="buttonPanel">
<button mat-button type="submit">Save</button>
&nbsp;
<button mat-button (click)="doCancel()">Cancel</button> 
</div>
</form>

<edit-audit [audit]="owner"></edit-audit>
</mat-tab>
<mat-tab label="Summary">
        <div class="row" style="height: 400px; margin-top: 20px; padding: 5px;">            
                <ngx-charts-bar-vertical        
                [results]="configItemStatsPie"
                [gradient]="false"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="false"
                [showXAxisLabel]="false"
                [showYAxisLabel]="false"
                [xAxisLabel]="'Class'"
                [yAxisLabel]="'Count'"
                (select)="onSelectConfigItem($event)">
              </ngx-charts-bar-vertical>
    <!--<ul *ngIf="ownerStats && ownerStats.configItemStatistics">
        <li *ngFor="let stat of ownerStats.configItemStatistics">
            <b><a [routerLink]="['/configitem']" [queryParams]="{ownerId: owner.id, classEntityId: stat.classEntityId}">{{stat.className}}</a></b> &nbsp; &nbsp; {{stat.count}}
        </li>
    </ul>-->
    </div>
</mat-tab>
</mat-tab-group>