<h1 *ngIf="!isNew()">{{ configitem.name }} ({{currentClass.className}})</h1>
<h1 *ngIf="isNew()">New Config Item</h1>


<mat-tab-group>
    <mat-tab label="Details">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="id" />

            <div class="row">
                <div class="col-sm-6">

                    <div class="fieldContainer">

                        <mat-form-field>
                            <input matInput formControlName="name" placeholder="Name" value="" />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select formControlName="classEntityId" placeholder="Class"
                                (selectionChange)="doChangeProperties()">
                                <mat-option [value]=""></mat-option>
                                <mat-option *ngFor="let class of classes" [value]="class.id">
                                    {{class.className}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select formControlName="ownerId" placeholder="Owner">
                                <mat-option [value]=""></mat-option>
                                <mat-option *ngFor="let owner of owners" [value]="owner.id">
                                    {{owner.ownerName}} ({{owner.ownerCode}})
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field>
                            <input matInput formControlName="concreteReference" placeholder="Concrete Ref" value="" />
                        </mat-form-field>

                        <mat-form-field>
                            <textarea matInput formControlName="comments" placeholder="Comments"></textarea>
                        </mat-form-field>
                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="fieldContainer" *ngIf="classDefinition">
                        <div *ngFor="let prop of classDefinition.properties">
                            <app-configitem-property [classProperty]="prop" [form]="editFormProperties">
                            </app-configitem-property>
                        </div>


                        <mat-expansion-panel *ngIf="!isNew()">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                Raw property view
                                </mat-panel-title>
                                <mat-panel-description></mat-panel-description>
                            </mat-expansion-panel-header>                    
                            <pre>{{configitem.properties | json}} </pre>                      
                        </mat-expansion-panel>
                    </div>
                    
                </div>
            </div>


            <app-list-errors [errors]="errors"></app-list-errors>
            <br />
            <div class="buttonPanel">
                <button mat-button type="submit" [disabled]="isSubmitting">Save</button>
                &nbsp;
                <button mat-button type="button" (click)="doCancel()">Cancel</button>
                &nbsp;
                <button mat-button type="button" *ngIf="!isNew()"
                    (click)="doDuplicateConfigItem()">Duplicate</button>
            </div>


        </form>
        <edit-audit [audit]="configitem"></edit-audit>
    </mat-tab>



    <mat-tab label="Relationships" *ngIf="!isNew()">
        <button mat-button (click)="doAddRelationship()">
            <mat-icon>note_add</mat-icon> Add Relationship
        </button>

        <div class="row">
            <div class="col-sm-6">

                <mat-table [dataSource]="sourceViewRelationships" matSort *ngIf="sourceViewRelationships != null">


                    <ng-container matColumnDef="targetConfigItemName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>To</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.targetConfigItemName}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="relationshipDescription">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Relationship from
                            {{ configitem.name }}</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.relationshipDescription}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="delete_button">
                        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                        <mat-cell *matCellDef="let element"><button mat-button
                                (click)="doDeleteRelationship($event, element.configItemRelationshipEntityId)">
                                <mat-icon>delete_forever</mat-icon>
                            </button></mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="sourceRelationshipDisplayColumns">
                    </mat-header-row>
                    <mat-row *matRowDef="let row; columns: sourceRelationshipDisplayColumns;"
                        (click)="onRelationshipClicked(row.targetConfigItemEntityId)"></mat-row>

                </mat-table>
            </div>


            <div class="col-sm-6">


                <mat-table [dataSource]="targetViewRelationships" matSort *ngIf="targetViewRelationships != null">


                    <ng-container matColumnDef="sourceConfigItemName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>From
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.sourceConfigItemName}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="targetConfigItemName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>To</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.targetConfigItemName}}
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="relationshipDescription">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Relationship to
                            {{ configitem.name }}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.relationshipDescription}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="delete_button">
                        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                        <mat-cell *matCellDef="let element"><button mat-button
                                (click)="doDeleteRelationship($event, element.configItemRelationshipEntityId)">
                                <mat-icon>delete_forever</mat-icon>
                            </button></mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="targetRelationshipDisplayColumns">
                    </mat-header-row>
                    <mat-row *matRowDef="let row; columns: targetRelationshipDisplayColumns;"
                        (click)="onRelationshipClicked(row.sourceConfigItemEntityId)"></mat-row>

                </mat-table>
            </div>

        </div>

    </mat-tab>
    <mat-tab label="Map" *ngIf="!isNew()">
        <button mat-button (click)="doExpandMap()">
            <mat-icon>unfold_more</mat-icon> Expand Map
        </button>
        <button mat-button (click)="doResetMap()">
            <mat-icon>replay</mat-icon> Reset Map
        </button>
        <div style="display: flex; overflow: hidden; height: 800px;"> <!--[view]="view"-->
            <ngx-graph class="chart-container" [legend]="showLegend" [links]="displayMap.links"
                (legendLabelClick)="onLegendLabelClick($event)" [nodes]="displayMap.nodes" [scheme]="colorScheme"
                [orientation]="orientation" [curve]="curve" (select)="selectNode($event)">

                <ng-template #defsTemplate>
                    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                        orient="auto">
                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                    </svg:marker>
                </ng-template>
                
                <ng-template #nodeTemplate let-node>
                    <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'"
                        [tooltipTitle]="node.tooltipTitle">
                        <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
                            [attr.fill]="node.data.color" />
                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                            {{node.label}}</svg:text>
                    </svg:g>
                </ng-template>
                <ng-template #linkTemplate let-link>
                    <svg:g class="edge">
                        <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
                        </svg:path>
                        <svg:text class="edge-label" text-anchor="middle">
                            <textPath class="text-path" [attr.href]="'#' + link.id"
                                [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                                {{link.label}}
                            </textPath>
                        </svg:text>
                    </svg:g>
                </ng-template>
            </ngx-graph>
        </div>

    </mat-tab>

    <mat-tab label="Elevation" *ngIf="shouldShowRackElevation()">
        <rack-elevation [rackUnits]="rackElevationRU" [rackName]="configitem.name" [rackItems]="rackElevationItems"></rack-elevation>
    </mat-tab>

</mat-tab-group>

